/*
Author: Anjan Roy<anjanroy@yandex.com>
*/
#navBar{
  background-color: #437070;
  width: 90%;
  margin-left: 1vmax;
  margin-right: 1vmax;
  border-radius: 2vmax;
  padding-left: 2vmax;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
  padding-right: 2vmax;
}

.navLink:link{
  font-size: 2.7vmax;
  color: #9fc69f;
  outline: none;
}

.navLink:hover{
  font-size: 2.9vmax;
  color: greenyellow;
  outline: none;
}

#footerDiv {
  margin-left: 40vw;
  margin-top: 5vmin;
  margin-bottom: 1vmin;
}

#footerText {
	font-size: 1vmax;
}

#footerLink {
	color: #9fc69f; 
	outline: none;
}
