/*
Author: Anjan Roy<anjanroy@yandex.com>
*/
html, body {
  margin: 0;
  padding: 0;
}

body{
  background-color: darkslategrey;
}

#parentDiv{
  padding: 1.5vmax;
  margin: 1.5vmax;
}

.childDiv{
  width: 90%;
  margin-left: 2vmax;
  margin-right: 2vmax;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
}

h1{
  color: #BCF5A9;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

p{
  font-size: 1.4vmax;
  color: powderblue;
  margin: 1vmax;
  font-family: 'Courier New', Courier, monospace;
}

.simpleLink:link{
  color: white;
  font-size: 1.4vmax;
}
.simpleLink:visited{
  color: darksalmon;
}

.simpleLink:hover{
  color: yellow;
  font-size: 2vmax;
}

.simpleLink:active{
  color: crimson;
}
