/*
Author: Anjan Roy<anjanroy@yandex.com>
*/
.codeBlock {
    background-color: black;
    color: bisque;
    outline: none;
    border-radius: 3vmax;
    width: 90%;
    font-family: "Courier New", Courier, monospace;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 1.2vmax;
    padding-left: 1vmax;
    padding-right: 1vmax;
    padding-top: 1.5vmax;
    padding-bottom: 1.5vmax;
}

.highlight {
    background-color: #112233;
    border-radius: 1.5vmax;
    padding-left: 0.15vmin;
    padding-right: 0.15vmin;
}
